<a href="https://colab.research.google.com/github/GuiSamuka/EloScience-Course/blob/main/Aula02_Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importar as bibiotecas**

In [2]:
# dataframes e manipulações
import pandas as pd

# requisitar dados do site
import requests

# inspecionar HTML
from bs4 import BeautifulSoup

## **Obter os dados dos jogadores**

In [3]:
url = 'https://sofifa.com/players?offset='

In [4]:
colunas = ['Nome', 'Idade', 'Posicao', 'Media', 'Potencial', 'Time', 'Salario', 'Total_Pontos']

In [7]:
dados = pd.DataFrame(columns=colunas)
dados.head()

In [15]:
for offset in range(0,100):
  url = url + str(offset*61)
  p_html = requests.get(url)
  p_soup = p_html.text
  data = BeautifulSoup(p_soup, 'html.parser')
  table = data.find('tbody')
  for i in table.findAll('tr'):
    td = i.findAll('td')
    Nome = td[1].findAll('a')[0].text
    Idade  = td[2].text
    Posicao = td[1].findAll('a')[1].text
    Media = td[3].find('span').text
    Potencial = td[4].find('span').text
    Time = td[5].find('a').text
    Salario = td[7].text.strip() 
    Total_Pontos = td[8].text.strip()

    dados_jogadores = pd.DataFrame([[Nome, Idade, Posicao, Media, Potencial, Time, Salario, Total_Pontos]])

    dados_jogadores.columns = colunas
    
    dados = dados.append(dados_jogadores, ignore_index=True)

In [16]:
print(dados)

                    Nome Idade Posicao  ...               Time Salario Total_Pontos
0               O. Kabak    20      CB  ...      FC Schalke 04    €17K         1714
1              B. Davies    24      CB  ...  Preston North End    €18K         1760
2      20 Han Kwang Song    20      ST  ...           Cagliari    €14K         1698
3            T. Minamino    25      RW  ...          Liverpool    €74K         1938
4              O. Ntcham    24      CM  ...             Celtic    €30K         2008
...                  ...   ...     ...  ...                ...     ...          ...
6595           J. Koundé    21      CB  ...         Sevilla FC    €23K         1835
6596            M. Hoppe    19      ST  ...      FC Schalke 04     €4K         1482
6597     Bruno Fernandes    25     CAM  ...  Manchester United   €240K         2336
6598        M. Greenwood    18      RM  ...  Manchester United    €33K         1922
6599          M. Mohamed    22      ST  ...                         €0         1786

[6600 rows x 8 columns]

### **Exportar os nossos Dados**

In [19]:
dados.to_csv('sds_fifa.csv', encoding='utf-8', index=True)

In [20]:
dados.to_excel('sds_fifa.xlsx', index=True)